<section class="p-4">
  <div class="d-flex justify-content-between align-items-center" (click)="closeModal()">
    <h2 *ngFor="let student of dataOfStudentSelected | async " class="">
      <i class="fa-solid fa-graduation-cap p-3 me-3"></i>
      {{student.student_name}}
    </h2>
    <i class="fa-solid fa-x" style="cursor: pointer;"></i>
  </div>


  <!-- todo: mostrar lista de sessiones de un alumno -->
  <!-- todo: cuando se haga click, mostrar la infomación detallada de la sesión en un modal? -->
  <div *ngFor="let session of sessionList |async">
    <div class="listCard p-2 mb-4 shadow" (click)="openSessionDetailsModal(session.id_session)">
      <p class="session-title fs-5 ps-3"> <strong> {{session.session_name}} </strong> </p>
      <div class="d-flex">
        <p class="time-date"> <i class="fa-regular fa-calendar pe-2"></i>
          {{(convertToLocalDateTime(session.session_start.toString()).slice(0,9))}} </p>
        <p class="time-date"> <i class="fa-regular fa-clock pe-2"></i>
          {{(convertToLocalDateTime(session.session_start.toString()).slice(11,16))}}</p>
      </div>

    </div>
  </div>
  <div class="d-flex justify-content-center align-items-center mt-4"> <a class="btn btn-orange"
      (click)="goToNewSessionForm()">Añadir sessión</a></div>

</section>
