// .container{
//   max-width: 600px;
//   height: 0 auto;
//   margin-bottom: 65px;
//   cursor: pointer;
// }

full-calendar{
  height: 75vh;
  overflow: auto;
  padding: 1rem;
  cursor: pointer;
}

// :root{
//   --fc-border-color: black;
//   --fc-daygrid-event-dot-withd: 20px;
// }

// .fc .fc-col-header-cell-cushion {
//   padding-top: 5px; /* Sobrescribe el espaciado superior */
//   padding-bottom: 5px; /* Sobrescribe el espaciado inferior */
// }

