<main>
  <section class="row text-center">
    <article class="col-12 col-md-4">
      <h3>TUS CLASES DE HOY</h3>
      <div>
          <full-calendar [options]="calendarOptions"></full-calendar>
      </div>
    </article>
    <article class="col-12 col-md-4">
      <div>
        <h3>ÚLTIMOS ALUMNOS AÑADIDOS</h3>
        <div>
          <div>
            @for (student of students | async; track $index)
            {
              @if ($index < 4)
              {
                <div class="card">
                  <p>{{student.student_name}} {{student.student_surname}}</p>
                </div>
              }
            }
          </div>
          <div>
            <a class="" href="/student-page">Ver más estudiantes</a>
          </div>
        </div>
      </div>
      <div>
        <img src="../../../assets/img/logo/logo_nombreV2(sin fondo).png" alt="logo" width="70%">
        <!-- logo -->
      </div>

    </article>
    <aside class="col-12 col-md-4 bg-custom-secondary">
      <h3>ÚLTIMAS NOTÍCIAS</h3>
      @for (article of educationNews | async; track $index)
      {
        <h5> {{article.title}}</h5>
        <img src="{{article.image}}" alt="new image" width="100%">
        <p> {{article.description}}</p>
        <a href="{{article.url}}">Leer más</a>
      }
    </aside>
  </section>
</main>
