<main style="padding-top: 65px; margin-bottom: 30px; min-height: 100vh;">
  <section class="row text-center vh-100">
    <article class="d-none d-md-flex col-12 col-md-3 p-3">
      <div style="min-height:auto; max-height: 60vh; max-width: 100%; top: 8rem; position: sticky;">
        <app-teacher-details class="w-100 h-auto"></app-teacher-details>
      </div>
    </article>
    <article class="col-12 col-sm-6 col-md-3">
      <div>
        <div class="row p-2">
          <div class="col-12 col-lg-6 p-1">
            <a href="/add-student" class="btn btn-orange d-flex justify-content-center align-items-center shadow">Nuevo estudiante</a>
          </div>
          <div class="col-12 col-lg-6 p-1">
            <a class="btn btn-custom-accent-success w-100 d-flex justify-content-center align-items-center shadow" (click)="openStudentListModal()">Nueva sesión</a>
          </div>
        </div>
        <div class="border rounded mb-4 shadow">
          <h4 class="bg-custom-blue-light p-3 text-white fw-bold" style="margin-bottom: 0px;">Clases para esta semana</h4>
          <div class="">
            <!-- Lista de sesiones -->
            @if(sessionListFromTeacherId.length == 0){
            <div class="alert alert-warning" role="alert">
              No tienes ninguna clase organizada para esta semana!
            </div>
            } @else {
            <div>
              @for (day of getObjectKeys(sessionsByDay); track $index) {
                <div class="border">
                  @if (sessionsByDay[day].length){
                    <div>
                      <h5 class="bg-custom-green text-capitalize">{{day}}</h5>
                    </div>
                    @for (session of sessionsByDay[day]; track session.id_session) {
                    <div class="mb-2  sesseion-selected">
                        <button class="btn" style="height: auto;" (click)="openSessionDetailsModal(session.id_session, session.id_student)">{{session.session_name}}</button>
                    </div>
                    }
                    }
                </div>
              }
            </div>
            }
          </div>
        </div>
      </div>
    </article>
    <article class="col-12 col-sm-6 col-md-3">
      <div>
        <a class="box border bg-custom-yellow text-decoration-none yellow shadow" href="/student-page">
          {{studentCount}} Estudiantes
        </a>
        <a class="box border bg-custom-green text-decoration-none green shadow" (click)="openPayedSessionModal()">
          {{payedSessionCount}} Pagados
        </a>
        <a class="box border bg-custom-red text-decoration-none red shadow" (click)="openNotPayedSessionModal()">
          {{notPayedSessionCount}} Sessiones aún por pagar
        </a>
      </div>
    </article>
    <aside class=" col-12 col-sm-12 col-md-3 h-100 d-md-block d-none shadow text-white bg-custom-secondary rounded-5">
      <div class="w-100 h-100 ">
        <h4 class="text-black fw-bold fs-3 mt-3">Ponte al día</h4>
        @for (article of educationNews | async; track $index)
        {
          <div class="bg-custom-light m-1 text-black rounded px-1">
            <h6 class="fs-6 mt-4"> {{article.title}}</h6>
            <img src="{{article.image}}" alt="new image" width="50%">
            <div class="mb-4">
              <a href="{{article.url}}">Saber más</a>
            </div>
          </div>

        }
      </div>
    </aside>
    <aside class="d-md-none w-100 h-auto shadow text-white bg-custom-blue">
      <div class="w-100 h-100">
        <h4 class="fw-bold mt-1">Ponte al día</h4>
        <ngb-carousel #carousel [interval]="2500" [pauseOnHover]="pauseOnHover" [pauseOnFocus]="pauseOnFocus"
          (slide)="onSlide($event)">
          @for (article of educationNews | async; track $index) {
          <ng-template ngbSlide>
            <h6 class="fs-6"> {{article.title}}</h6>
            <div class="picsum-img-wrapper">
              <img src="{{article.image}}" alt="new image" class="carousel-img" width="50%">
            </div>
            <div>
              <a href="{{article.url}}">Saber más</a>
            </div>
          </ng-template>
          }
        </ngb-carousel>
      </div>
    </aside>
  </section>
</main>
