<h1>Añade a tu nuevo estudiante</h1>

<section>
  <form [formGroup]="updateStudentForm" (ngSubmit)="onSubmit()" autocomplete="off">
    <div *ngFor="let data of dataOfStudentSelected | async">
      <div class="d-flex row">
        <div class="col-xs-12 col-sm-6">
          <input type="text" placeholder="Nombre" class="w-100 form-control" formControlName="studentName">
          @if (isValidField('studentName'))
          {
          <span class="form-text text-danger">
            Debe introducir un nombre de mínimo 2 letras y sin números
          </span>
          }
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="text" placeholder="Apellidos" class="w-100 form-control" formControlName="studentSurname">
          @if (isValidField('studentSurname')){
          <span class="form-text text-danger">
            Debe introducir uno o dos apellidos sin números
          </span>
          }
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="email" placeholder="Email" class="w-100 form-control" formControlName="studentEmail"
            [value]="dataOfStudentSelected">
          @if (isValidField('studentEmail')){
          <span class="form-text text-danger">
            Debe tener el formato de email correcto..
          </span>
          }
          <!-- @else if (emailExist){
            <span class="form-text text-danger">
              Ya existe una cuenta con este email
            </span>
          } -->
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="number" placeholder="Número de teléfono" class="w-100 form-control"
            formControlName="studentPhone">
          @if (isValidField('studentPhone')){
          <span class="form-text text-danger">
            Introduce un número valido de 9 dígitos
          </span>
          }
        </div>
        <div class="col-xs-12 col-sm-6">
          <input type="date" class="w-100 form-control" formControlName="studentBirthdate">
          @if (isValidField('studentBirthdate')){
          <span class="form-text text-danger">
            Tiene que ser una fecha válida
          </span>
          }
        </div>
        <div class="col-xs-12 col-sm-6">
          <select class="form-select" formControlName="fkIdAcademicYear">
            <option value="" disabled selected>Choose...</option>
            <ng-container *ngFor="let academicYear of academicYears | async">
              <option [value]="academicYear.id_academic_year">{{academicYear.academic_year_name}}</option>
            </ng-container>
          </select>
          @if (isValidField('fkIdAcademicYear')){
          <span class="form-text text-danger">
            Este campo es obligatorio, debe seleccionar el curso del alumno
          </span>
          }
        </div>
        <div class="col-xs-12 col-sm-6">
          <label class="form-label">Método de pago</label>
          <div *ngFor="let paymentMethod of paymentMethods | async">
            <input type="radio" [value]='paymentMethod.id_payment_method' class="form-check-input"
              name="fkIdPaymentMethod" formControlName="fkIdPaymentMethod">
            <label class="form-check-label">{{ paymentMethod.payment_method_name}}</label>
          </div>
          @if (isValidField('fkIdPaymentMethod')){
          <span class="form-text text-danger">
            Este campo es obligatorio, debe seleccionar un método de pago
          </span>
          }
        </div>
        <!-- todo: lista de asignaturas -->
        <div class="col-xs-12 col-sm-6">
          <label class="form-label">Asignaturas</label>
          <div *ngFor="let subject of subjects | async" class="form-check">
            <input type="checkbox" class="form-check-input" [value]="subject.id_subject"
              (change)="onCheckboxChange($event, subject.id_subject)" id="subject-{{subject.id_subject}}">
            <label class="form-check-label" for="subject-{{subject.id_subject}}">
              {{ subject.subject_name }}
            </label>
          </div>
          @if (isValidField('selectedSubjects')){
          <span class="form-text text-danger">
            Este campo es obligatorio, debe marcar una asignatura mínimo
          </span>
          }
        </div>
        <!-- todo: usar api imgBB foto de perfil voluntaria -->
        <div class="row mb-3">
          <label class="col-lg-12 col-form-label">Foto del estudiante</label>
          <div class="col-md-9 col-lg-12 w-100">
            <input type="file" class="form-control" formControlName="studentPhoto" (change)="onImageChange($event)"
              [accept]="'.jpg,.jpeg,.png,.webp'" placeholder="Repita la contraseña">
            @if (isValidField('studentPhoto')){
            <span class="form-text text-danger">
              El archivo debe tener formato .jpg,.jpeg,.png o .webp
            </span>
            }
          </div>
        </div>
      </div>
    </div>
    <button type="submit">Editar</button>
    <!-- todo: Poner un mensaje (que desaparezca al tiempo, de que faltan campos para rellenar) -->
    <a href="/student-page">Cancelar</a>
    <!-- todo: un modal para asegurar que quiere volver, y que no se guardaran los cambios -->
  </form>
</section>
