<section>
  @for (data of teacherData | async; track $index) {
  <div class="row">
    <div class="text-center mb-4">
      @if(data.teacher_photo){
      <img src="{{data.teacher_phone}}" class="card-img-top img-fluid" alt="foto_estudiante"
        style="height:auto; width:90%;">
      } @else {
      <img src="../../../assets/img/student/student.jpg" class="card-img-top img-fluid" alt="foto_estudiante"
        style="height:auto; width:90%;">
      }
    </div>
    <hr>
    <div>
      <h5>{{data.teacher_name}} {{data.teacher_surname}}</h5>
    </div>
    <div>
      <p>Email: {{data.teacher_email}}</p>
    </div>
    <div>
      <p>
        Telf: {{data.teacher_phone}}
      </p>
    </div>
    <div>
      <p>
        Edad: {{ calculateAge(data.teacher_birthdate.toString())}} años
      </p>
    </div>
    <hr>
    <div class="text-center">
      <button class="btn btn-primary" (click)="goEditTeacher()">Modificar datos</button>
    </div>
  </div>
  }

</section>
