<section class="modal-container">
  <div class="modal-header d-flex justify-content-between align-items-center header-card p-4" >
    <h3 class="fw-bold">
      <i class="fa-solid fa-users p-3 me-3"></i>
      Escoge un estudiante
    </h3>
    <i class="fa-solid fa-x" (click)="closeModal()"></i>
  </div>
  <div class="modal-body row d-flex justify-content-center fw-bold">
    @if(studentList | async; as student){
      @if(student.length !== 0){
        <ng-container *ngFor="let student of studentList |async">
          <div class="p-2 m-2 d-flex student-list shadow align-items-center col-12 col-md-5 border border-primary" (click)="goToNewSessionForm(student.id_student)" style="cursor: pointer;">
            <div>
              @if(student.student_photo){
                <img src="{{student.student_photo}}" alt="student_photo" width="50px" height="50px" class="rounded-5 me-4">
                } @else {
                <img src="../../../assets/img/student/student.jpg" alt="student_photo" width="50px" height="50px" class="rounded-5 me-4">
                }
            </div>
            <div class="col-12 col-md-5">
              <a class="d-flex flex-column text-capitalize">{{student.student_name}} {{student.student_surname}}</a>
            </div>
          </div>
        </ng-container>
      } @else {
        <div class="alert alert-warning w-50 border rounded-5 text-center" role="alert">
          <p>
            Aún no tienes ningún estudiante, añade a tu primer estudiante
          </p>
          <a href="/add-student" class="btn btn-orange p-3 d-flex justify-content-center align-items-center">
            <i class="fa fa-plus text-black"></i>
          </a>
        </div>
      }
    }
  </div>
</section>

