<ng-container *ngFor="let data of sessionData | async">
  <div class="modal-container">
    <div class="modal-header">
      <h3>{{data.session_name}}</h3>
      <!-- <span class="close-button" (click)="closeModal()">X</span> -->
    </div>
    <div class="modal-body">
      <div class="session-info">

        <div>
          <label>Hora de inicio:</label>
          <span>{{ data.session_start }}</span>
        </div>
        <div>
          <label>Hora final:</label>
          <span>{{ data.session_end }}</span>
        </div>
        <div>
          <label>Objetivo de la sesión:</label>
          <span>{{ data.session_objective }}</span>
        </div>
        <div>
          <label>Tareas de la sesión:</label>
          <span>{{ data.session_tasks }}</span>
        </div>
        <div>
          <label>Materiales requeridos:</label>
          <span>{{ data.session_material }}</span>
        </div>

        <div>
          @if(data.session_payed.data[0]){
          <label>Pago:</label>
          <span>{{'Pagado'}}</span>
          } @else {
          <label>Pago:</label>
          <span>{{'Falta por pagar'}}</span>
          }
        </div>

        <div>
          <label>Creado en:</label>
          <span>{{ data.create_at_session }}</span>
        </div>

      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" (click)="goToEditSessionForm()">Editar sesión</button>
    <a class="primary" style="cursor: pointer;" (click)="openStudentListModal()">Todas las sesiones</a>
  </div>


</ng-container>
