@import "../node_modules/bootstrap/scss/functions";

/* You can add global styles to this file, and also import other style files */
//color by: https://www.realtimecolors.com/?colors=0a0500-fff4eb-e48a1b-d7b490-96b0ae&fonts=Poppins-Poppins

$primary: #e48a1b;

// Create your own map
$custom-colors: (
  "custom-background": #fff4eb,
  "custom-primary": #e48a1b,
  "custom-secondary":#D7B490,
  "custom-accent-success": #96B0AE,
  "custom-light": #f8e4d4,
);

@import "../node_modules/bootstrap/scss/variables";

@import "../node_modules/bootstrap/scss/mixins";
@import "../node_modules/bootstrap/scss/variables-dark";
@import "../node_modules/bootstrap-icons/font/bootstrap-icons.css";
// Merge the maps
$theme-colors: map-merge($theme-colors, $custom-colors);


/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

*{
  font-family: 'Inter', sans-serif;
}

.background-body{
  background-color: #f8e4d4;
}

.btn-orange{
  background: rgba(255, 166, 0, 0.825);
  color: white;
  padding: 10px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 23px;
  font-weight: bold;

}


//custom scroll bar
::-webkit-scrollbar {
  width: 13px;
}

/* bg scrollbar */
::-webkit-scrollbar-track {
  background: #edcaa8;
}

/* scrollbar -bar */
::-webkit-scrollbar-thumb {
  background: #f2ba75;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #f2b05f;
}
